@font-face{
    font-family: 'Inter';
    src: url('./assests/fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('./assests/fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('./assests/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
}

:root{
    --primary-color: #4E6056;
    --secondary-color: #1A1C1C;
    --tertiary-color: #5F5E5E;
    --neutral-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-weight: 400;
    background-color: var(--neutral-color);
}

.container {
    width: 95%;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}

.brand-logo h1 {
    font-size: 48px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: var(--primary-color);
    padding: 16px 0;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--tertiary-color);
    font-size: 12px;
    font-weight: 600;
}

.utility-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.utility-icons button {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.utility-icons .search-btn{
    width: 17.19px;
    height: 17.19px;
}

.utility-icons .account-btn{
    width: 15px;
    height: 14.62px;
}

.utility-icons .cart-btn{
    width: 15px;
    height: 19px;
}

.TrendingProducts {
    padding: 128px 64px;
}

.TrendingProducts .container {
    gap: 64px;
    justify-content: space-between;
}

.TrendingProducts .section-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    font-family: Inter;
    align-items: flex-end;
    justify-content: space-between;
}

.TrendingProducts .section-title .norm h2 {
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.TrendingProducts .section-title .norm p {
    font-size: 16px;
    color: var(--tertiary-color);
}

.TrendingProducts .section-title a {
    text-decoration:none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--primary-color);
}

.TrendingProducts .products {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}